<ion-view hide-nav-bar="true" id="home">
  <ion-content>
    <img src="img/logo.png" id="logo" />

    <div class="row">
      <div class="col">
        <button class="button home-button" data-target="#/tab/calculate">
          <i class="icon ion-calculator"></i>
          <p>Calculate loan</p>
        </button>
      </div>
      <div class="col">
        <button class="button home-button" data-target="#/tab/apply">
          <i class="icon ion-edit"></i>
          <p>Apply for a loan</p>
        </button>
      </div>
      <div class="col">
        <button class="button home-button" data-target="#/tab/apply">
          <i class="icon ion-email"></i>
          <p>Contact us</p>
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
